asgiref==3.11.1
build==1.5.0
click==8.4.1
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
packaging==26.2
pip-tools==7.5.3
psycopg2-binary==2.9.12
pyproject_hooks==1.2.0
setuptools==82.0.1
sqlparse==0.5.5
wheel==0.47.0
pandas
cloudinary
django-cloudinary-storage
python-dotenv
